.header {
    width: 100%;
    height: 4em;
    box-shadow: 0 2px 8px #f0f1f2;
    display: flex;
    justify-content: center;
    font-size: 14px;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 1;
}

.header > div {
    width: 70%;
    display: flex;
}

.header .logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 3em;
    height: 3em;
}

.header .logo span {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 22px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-variant: small-caps;
    text-transform: capitalize;
    margin-left: 1em;
}

.header .content {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .userBlock {
    height: 100%;
    display: flex;;
    justify-content: flex-end;
    align-items: center;
    margin-left: 3em;
}

.authenticationActions {
    font-size: 14px;
    display: flex;
    height: 100%;
}

.authenticationActions div {
    display: flex;
    align-items: center;
}

.authenticationActions .signUpAction {
    margin-left: 1.5em;
}

.authenticationActions .signUpAction a {
    border: 1px solid #a5a5a5;
    border-radius: 3px;
    padding: 5px;
}

.authenticationActions div a {
    color: #040404;
    display: flex;
    align-items: center;
}

.authenticationActions div i {
    margin-right: 0.1em;
}

.authenticationActions div a:hover {
    color: #40a9ff;
    border-color: #40a9ff;
}

.userBlock .userProfile .userName {
    margin-right: 1em;
}

.ant-menu-horizontal {
    line-height: 50px;
    border-bottom: none;
    background: inherit;
}

.ant-menu .ant-menu-item {
    padding: 0 1em;
}

.ant-menu .ant-menu-item a {
    display: flex;
    align-items: center;
    padding: 0.2em 0;
}
